/Engine/Default/x64
*.vsidx
/.vs/3D_Framework/v17
*.json
*.sqlite
/Client/Default/x64
*.pdb
*.exp
*.exe
*.ipch
*.db
*.db-wal
*.db-shm
*.opendb
*.bin
.vs/3D_PersonProject/v17/HierarchyCache.v1.txt
.vs/3D_PersonProject/v17/HierarchyCache.v1.txt
.vs/3D_PersonProject/v17/fileList.bin
*.txt
